<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pangolin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Pangolin.Properties.Settings>
            <setting name="AsyncTimeOut" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="DeveloperMailFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="DeveloperMailTo" serializeAs="String">
                <value />
            </setting>
            <setting name="DeveloperMailCC" serializeAs="String">
                <value />
            </setting>
            <setting name="DeveloperMailBCC" serializeAs="String">
                <value />
            </setting>
            <setting name="EventLogSource" serializeAs="String">
                <value>SnippetTestSource</value>
            </setting>
            <setting name="EventLogName" serializeAs="String">
                <value>SnippetTest</value>
            </setting>
            <setting name="EventLogMaxSize" serializeAs="String">
                <value>2048</value>
            </setting>
            <setting name="EventLogMaxAge" serializeAs="String">
                <value>31</value>
            </setting>
            <setting name="IsLiveEventLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsLiveFTP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsLiveMail" serializeAs="String">
                <value>True</value>
            </setting>
        </Pangolin.Properties.Settings>
    </applicationSettings>
</configuration>